/** ホーム画面CSS **/
.sqh_homeSec {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
}

.sqh_secHidden {
    display: none;
}

.sqh_centerImgWrapper {
    position: relative;
    aspect-ratio: 1;
}

@media (orientation: portrait) {
    .sqh_centerImgWrapper {
        width: 80%;
    }
}

@media (orientation: landscape) {
    .sqh_centerImgWrapper {
        height: 80%;
    }
}

.sqh_centerImgWrapper>img:first-child {
    width: 100%;
}

.sqh_centerImgWrapper>img:last-child {
    position: absolute;
    top: 32%;
    left: 48%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 70%;
}

.sqh_nextBtnWrapper {
    position: absolute;
    left: 50%;
    bottom: 4%;
    transform: translate(-50%, -50%);
}

/* ログイン画面へボタン */
.sqh_nextBtn {
    display: block;
    width: 280px;
    padding: 20px 16px;
    border-radius: 8px;
    background: linear-gradient(180deg, #EC686F, #DE4E55, #D3373F, #C9242C, #D3373F, #DE4E55, #EC686F);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    animation: blink 2s ease-in-out infinite;
}

.sqh_nextBtn>p {
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #FAC002;
    text-align: center;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

@media (min-width: 760px) {
    .sqh_nextBtn {
        cursor: pointer;
    }
}