/** 画面共通CSS **/
/* フォント */
@font-face {
    font-family: "Permanent Marker";
    src: url("../css/PermanentMarker-Regular.ttf");
}

@font-face {
    font-family: "Noto Sans JP";
    font-style: Normal;
    font-weight: 400;
    src: url("./NotoSansJP-Regular.otf") format('opentype');
    font-display: swap;
}

@font-face {
    font-family: "Noto Sans JP";
    font-style: Bold;
    font-weight: 700;
    src: url("./NotoSansJP-Bold.otf") format('opentype');
    font-display: swap;
}

/* 画面全体 */
body {
    display: flex;
    flex-direction: column;
    height: 100svh;
    font-family: "Noto Sans JP", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", "Meiryo", "ＭＳ　Ｐゴシック", "HelveticaNeue", "Helvetica", "Arial", Sans-Serif;
}

/* ヘッダー */
header {
    display: flex;
    justify-content: center;
    height: 72px;
    padding: 0 20px;
    background-color: #00A08E;
}

.com_headerInner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.com_headerInner>img {
    flex-shrink: 0;
    width: 60px;
    height: 48px;
}

.com_headerTtl {
    flex-grow: 1;
    padding-left: 16px;
}

.com_headerTtl>p {
    font-family: 'Permanent Marker', cursive;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: #FFFFFF;
    -webkit-text-stroke: 1px #585858;
}

/* メイン */
main {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow-y: auto;
}

/* 画面が縦長の場合 */
@media (orientation: portrait) {
    main {
        background-image: url("../image/soccer_ground.jpg");
    }
}

/* 画面が横長の場合 */
@media (orientation: landscape) {
    main {
        background-image: url("../image/soccer_ground_pc.jpg");
    }
}

section {
    flex-grow: 1;
}

/* エラーセクション */
.com_errorSec {
    padding: 48px 20px;
    background-color: #00A08E;
}

.com_errorSec>h2 {
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    color: #2E2E2E;
    text-align: center;
}

.com_errLead {
    padding-top: 24px;
}

.com_errLead>p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #2E2E2E;
}

/* フッター */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    padding: 0 20px;
    background-color: #00A08E;
}

footer>p {
    font-size: 10px;
    font-weight: 400;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
}

@media (min-width: 760px) {
    footer {
        height: 56px;
        padding: 0 32px;
    }
    
    footer>p {
        font-size: 12px;
        line-height: 20px;
    }
}