/** コンポーネントCSS **/
/* ローダー */
.c_loader {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #008673;
    z-index: 9999;
}

.c_loader::after {
    width: 80px;
    height: 80px;
    background-image: url("../image/soccerball_header.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    content: "";
    animation: bounce 1.5s infinite linear;
}

@keyframes bounce {
    0% {
        transform: scale(1.0, 1.0) translateY(-120px);
    }

    12.5% {
        transform: scale(1.0, 1.0) translateY(-90px);
    }

    25% {
        transform: scale(1.0, 1.0) translateY(-40px);
    }

    37.5% {
        transform: scale(1.0, 1.0) translateY(30px);
    }

    50% {
        transform: scale(1.2, 0.8) translateY(120px);
    }

    62.5% {
        transform: scale(1.0, 1.0) translateY(30px);
    }

    75% {
        transform: scale(1.0, 1.0) translateY(-40px);
    }

    87.5% {
        transform: scale(1.0, 1.0) translateY(-90px);
    }

    100% {
        transform: scale(1.0, 1.0) translateY(-120px);
    }
}

.c_loader_hidden {
    animation: backgroundFade 1.0s ease-in forwards;
}

@keyframes backgroundFade {
    to {
        opacity: 0;
        visibility: hidden;
    }
}

.c_loader_hidden::after {
    animation: enlarge 1.0s ease-in;
}

@keyframes enlarge {
    from {
        transform: scale(1);
        opacity: 1.0;
    }

    to {
        transform: scale(20) rotate(-180deg);
        opacity: 0;
        visibility: hidden;
    }
}

/* ノーティフィケーション */
.c_notification {
    padding: 8px;
    border: 1px solid #EA3D3D;
    border-radius: 16px;
    background-color: #FFE0E0;
}

/* テキストフィールド */
.c_textField {
    position: relative;
}

.c_textField>input {
    display: block;
    width: 100%;
    padding: 18px 14px 12px 14px;
    border: 2px solid #FFFFFF;
    border-radius: 16px;
    background-color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #2E2E2E;
}

.c_textField_error>input {
    border: 2px solid #D3381C;
    background-color: #FEF4F4;
}

.c_textField_disabled>input {
    border: 2px solid #D9D9D9;
    background-color: #D9D9D9;
    pointer-events: none;
}

.c_textField p {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    max-width: calc(100% - 16px * 2);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #585858;
    pointer-events: none;
    transition: all 0.2s ease-in-out;
}

.c_textField>input:focus+p {
    transform: translateY(calc(-50% - 16px));
    font-size: 12px;
    line-height: 12px;
    color: #2E2E2E;
    transition: all 0.3s ease-in-out;
}

.c_textField>input:not(:placeholder-shown)+p {
    transform: translateY(calc(-50% - 16px));
    font-size: 12px;
    line-height: 12px;
    color: #2E2E2E;
    transition: all 0.3s ease-in-out;
}

.c_textField_disabled>p {
    color: #585858;
}

/* ボタン */
.c_button01 {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 16px;
    border-radius: 24px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.c_button01_YEL {
    background-color: #FABF00;
}

.c_button01_disabled {
    background-color: #D9D9D9;
    box-shadow: none;
    pointer-events: none;
}

.c_button01>p {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}

.c_button01_YEL>p {
    color: #2E2E2E;
}

.c_button01_disabled>p {
    color: #585858;
}

/* プログレスバー */
.c_progressbar {
    display: flex;
    align-items: center;
    width: 100%;
}

.c_progressbar_circle {
    border-radius: 50%;
    background-color: #FABF00;
}

.c_progressbar_big {
    width: 24px;
    height: 24px;
}

.c_progressbar_small {
    width: 16px;
    height: 16px;
}

.c_progressbar_bar {
    width: calc((100% - 24px * 4 - 16px * 6) / 8);
    height: 4px;
    background-color: #FABF00;
}

.c_progressbar_big:has(.c_progressbar_typo_number) {
    display: flex;
    justify-content: center;
    align-items: center;
}

.c_progressbar_typo_number {
    font-size: 14px;
    font-weight: 700;
    line-height: 14px;
    color: #2E2E2E;
}

.c_progressbar_active {
    background-color: #FABF00;
}

.c_progressbar_active~.c_progressbar_bar {
    background-color: #F0F0F0;
}

.c_progressbar_active~.c_progressbar_bar+.c_progressbar_circle {
    background-color: #D5D5D5;
}

/* コンポーネント：ダイアログ */
.com_dialog {
    display: flex;
}

/* bodyスクロール制御 */
.com_dialog_bodyScroll {
    overflow-y: hidden;
    overflow-x: hidden;
    width: 100%;
    position: fixed;
    left: 0;
}

.com_dialog_showModal {
    cursor: pointer;
}

/* ダイアログ背景 */
.com_dialog_modal {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s cubic-bezier(0, 0.2, 0.4, 1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.6);
    cursor: pointer;
    z-index: 10;
}

.com_dialog_inner {
    background-color: #FFF9E5;
    border-radius: 24px;
    /* スクロールの調整のため右・下paddingをc_modal01_textAreaと分割 */
    padding: 32px 12px 30px 0;
    width: 90vw;
    max-width: 592px;
    min-width: 328px;
    max-height: 90%;
    position: relative;
    cursor: default;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
}

/* PC表示 */
@media (min-width: 760px) {
    .com_dialog_inner {
        max-height: 680px;
    }
}

/* ダイアログテキストエリア */
.com_dialog_textArea {
    overflow-y: auto;
    overflow-x: hidden;
    line-height: 1.5;
    /*モーダル内スクロールの調整のため右・下paddingをc_modal01_innerと分割 */
    padding: 0 12px 2px 24px;
}

/* PC表示 */
@media (min-width: 760px) {
    .com_dialog_textArea {
        /* ダイアログボックスの最大の高さ（680px）からパディング要素（64px）を引いた値 */
        max-height: 616px;
    }
}

/* 閉じるアイコン（×ボタン） */
.com_dialog_CloseBtn {
    position: absolute;
    right: -16px;
    top: -24px;
    width: 48px;
    height: 48px;
    cursor: pointer;
}

/* ダイアログ表示用クラス */
.com_dialog_isShow {
    visibility: visible;
    opacity: 1;
}

/* ×ボタンクローズ非表示用クラス */
.com_dialog_hidden_closeBtn .com_dialog_CloseBtn {
    display: none;
}

/* 背景押下制御用クラス */
.com_dialog .com_dialog_modal_disable {
    cursor: default;
}